<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GuudeDrive</title>
    <link rel="stylesheet" href="/styles/output.css">
    <script defer type="module" src="/javascript/mainShared.js"></script>
</head>
    <body class="flex flex-col h-full min-h-screen">
        <%- include("./layout/headerAuth.ejs") %>
        <%- body %>
    </body>
</html>