<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GuudeDrive</title>
    <link rel="stylesheet" href="/styles/output.css">
    <script defer src="/javascript/toggleMenu.js"></script>
    <script defer src="/javascript/fileInput.js"></script>
    <script src="/javascript/flowbite.min.js"></script>
    <script src="/javascript/populateUpdateModal.js"></script>
    <script src="/javascript/scrollToItem.js"></script>
</head>
    <body class="flex flex-col h-full min-h-screen">
        <%- include("./layout/header.ejs") %>
        <%- body %>
    </body>
</html>
